body{
    margin: 0;
    background: aqua;
}
#title{
    position: absolute;
    width: 50%;
    height: 10%;
    top: 0;
    left: 25%;
    background: mistyrose;
    color: black;
    font-size: 25px;
    /*居中分布*/
    display: flex;
    align-items: center;
    justify-content: center;
}
#time{
    position: absolute;
    /*width: 25%;*/
    height: 10%;
    top: 5%;
    right: 2%;
    background: yellow;
    color: aquamarine;
    font-size: 20px;
}
#left{
    position: absolute;
    width: 25%;
    height: 40%;
    top: 50%;
    left: 0%;
    background: mistyrose;
}
#centerA{
    position: absolute;
    width: 50%;
    height: 25%;
    top: 10%;
    left: 25%;
    background: coral;
}
.num{
    width: 25%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 20px;
}
.text{
    width: 25%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 楷体;
}
.text h2{
    margin: 0;
}
#centerB{
    position: absolute;
    width: 50%;
    height: 65%;
    top: 35%;
    left: 25%;
    background: aqua;
}
#right{
    position: absolute;
    width: 25%;
    height: 90%;
    top: 10%;
    right: 0%;
    background: chartreuse;
}
